<div align="center" class="jumbotron">
  <div class="container ">
    
    <% if @short_title == nil %>
        <p class="lead header-text">Your search was not recognised. Please try another.</p>
    <% else %>
        <h1 class="display-4 header-text"><%= @short_title %></h1>
        <p class="lead header-text"><%= @short_summary %></p>
        
        <h1 class="display-4 header-text"><%= @long_title %></h1>
        <p class="lead header-text"><%= @long_summary %></p>
    <% end %>
    <%= link_to "Return to home", root_path %>
  </div>
</div>